.rtl [data-type="core/html"] textarea,
.rtl .blocks-shortcode__textarea,
.rtl .wp-block-code {
  direction: ltr;
  unicode-bidi: embed;
  text-align: left;
}

.rtl [data-type="core/html"] textarea::placeholder,
.rtl .blocks-shortcode__textarea::placeholder,
.rtl .wp-block-code [data-rich-text-placeholder],
.rtl input[type="email"]::placeholder,
.rtl input[type="url"]::placeholder {
  direction: rtl;
  text-align: right;
  unicode-bidi: embed;
}

.rtl .wp-block-code [data-rich-text-placeholder] {
  display: inline-block;
  width: 100%;
}
